<body bgcolor="#5d646f">
  <link rel="stylesheet" href="../app.css" />
  <nav>
    <table align="center" height="100%" cellpadding="20">
      <tr>
        <th><a href="../home.html" target="page">Tentang ARS</a></th>
        <th>
          <a href="../fakultas_ti.html" target="page"
            >Fakultas Teknologi Informasi</a
          >
        </th>
        <th>
          <a href="../fakultas_dkv.html" target="page"
            >Fakultas Komunikasi dan Desain</a
          >
        </th>
        <th>
          <a href="../fakultas_fe.html" target="page">Fakultas Ekonomi</a>
        </th>
      </tr>
    </table>
  </nav>
</body>
