p {
  text-align: justify;
  font-family: sans-serif;
  font-size: 0.8rem;
  color: #5d646f;
}
img#logo {
  filter: brightness(0) invert(1);
}
h2,
h3 {
  color: #f8b501;
}
a {
  color: #f7f7f7;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Calibri", sans-serif;
}
a:hover {
  color: #f8b501;
}
h3.heading-second {
  color: black;
  font-size: 1rem;
  margin-bottom: 4px;
}
p.desc-second-content,
ul li {
  font-family: sans-serif;
  font-size: 0.8rem;
  color: #5d646f;
}

ul.sidebar {
  list-style: none;
  padding: 0;
}
ul.sidebar li.side-item {
  padding: 5px 0;
  border-bottom: 1px solid gray;
}
ul.sidebar li a {
  color: gray;
}
ul.sidebar li.side-item a.item-link:hover {
  color: #f8b501;
}
